<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.wolfclub.oneblog.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.github.wolfclub.oneblog.po.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="email" jdbcType="VARCHAR" property="email" />
    <result column="qq" jdbcType="VARCHAR" property="qq" />
    <result column="wechat" jdbcType="VARCHAR" property="wechat" />
    <result column="birthday" jdbcType="DATE" property="birthday" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="version_time" jdbcType="TIMESTAMP" property="versionTime" />
    <result column="creator_code" jdbcType="VARCHAR" property="creatorCode" />
    <result column="creator_name" jdbcType="VARCHAR" property="creatorName" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="last_modifier_code" jdbcType="VARCHAR" property="lastModifierCode" />
    <result column="last_modifier_name" jdbcType="VARCHAR" property="lastModifierName" />
    <result column="last_modify_time" jdbcType="TIMESTAMP" property="lastModifyTime" />
  </resultMap>
</mapper>